@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.d-flex {
    display: flex;
}

.justify {
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-cen {
    align-items: center;
}

a {
    text-decoration: none;
}

li {
    list-style:none;
}

h1, h2, h3, h4 {
    font-family: 'Nunito';
}

nav {
    box-shadow: 1px 0 10px -5px #000;
    transition: all 0.3s ease;
}

.nav-main {
    padding: 0 1.1rem;
    height: 70px;
    width: 1200px;
}

.nav-list {
    text-decoration: none;
    list-style: none;
    height: 100%;
    /* position: relative; */

}

.nav-list:not(:last-child) {
    margin-right: 1.1rem;
}

.nav-list a {
    text-decoration: none;
    color: #000;
    font-weight: 300;
    font-size: 14px;
    margin-right: 10px;
}

.nav-list:hover a,
.nav-list:focus a {
    color: #E31C25;
    transition: .3s ease-in-out;
}

/* .menu .nav-list:focus-within .drop-down ,
.menu .nav-list:hover .drop-down ,
.menu .nav-list .drop-down :hover{
    display: block;
} */

/* .nav-list */

.menu {
    width: 100%;
    height: 100%;
}

.menu ul {
    justify-content: flex-end;
    height: 100%;
}


.menu ul li:hover>.submenu,
.menu ul li:focus-within>.submenu,
.menu ul li .submenu:hover {
    display: block;
}

.cart,
.search {
    margin-left: 22px;
    width: 50px;
    position: relative;
}

.search {
    margin-left: 5px;
}

.cart a,
.search a {
    text-decoration: none;
    color: #000;
}

.logo img {
    height: 3rem;
}

.cart-count {
    border-radius: 50%;
    position: absolute;
    top: -5px;
    background: #c61515;
    color: #fff;
    width: 15px;
    height: 17px;
    align-items: center;
    text-align: center;
    font-size: 12px;
    left: 9px;
}

.fa-chevron-down {
    color: grey;
}

.submenu {
    background: whitesmoke;
    position: absolute;
    top: 70px;
    transition: all .3s ease;
    width: 180px;
    display: none;
}

.submenu ul li {
    list-style: none;
    padding: 0.5rem;
}

.submenu ul li:hover {
    background: red;
    color: #fff;
}

/* .drop-ul {
    list-style: none;
} */

/* .drop-ul a {
    text-decoration: none;
} */
/* .drop-li {
    padding: 7px 15px;
} */

/* .drop-down {
    position: absolute;
    top: 72px;
    width: 200px;
    background: #f3efef;
    display: none;
    transition: all 0.5s ease;
} */
/* 
.drop-down .drop-li:hover, 
.drop-down .drop-li:focus a {
    background: #c61515;
    color: #fff;
} */

.bar {
    background: #e31d26;
    font-size: 20px;
    padding: 12px 20px;
    line-height: normal;
    color: #fff;
    display: none;
}

.search-bar {
    display: flex;
    align-items: center;
}

.container {
       padding: 64px 0;
       align-items: center;
       max-width: 1140px !important;
}

.description h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

.description p {
    line-height: 30px;
    font-weight: 400;
    margin: 15px 0 5px 0;
    font-size: 14px;
    color: #878787;
    text-shadow: none;
}
 

.description i {
    color: green;
}
.description p span {
    margin-right: 10px;
}

.home-section {
    background-color: #f5f7fc;
    display: flex;
    justify-content: center;
    align-items: center;
}

#email_newsletter {
    width: 100%;
    background: url(./envelope.png) no-repeat 15px 21px;
    max-width: 350px;
    background-color: #fff;
    height:62px;
    padding: 0 20px 0 45px;
    border-radius: 5px 0 0 5px;
    color: #454545;
    font-size: 17px;
    border: none;
}

form {
    align-items: center;
    display: flex;
}


#submit-btn {
    width: 145px;
    height: 62px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Nunito',sans-serif;
    border-radius: 0 5px 5px 0;
    color: #fff;
    border: none;
    background: #e52f37;
}

/* section 2 */
.service-section, .pricing-section {
    padding: 4rem
}

.service-title, .pricing-title {
    font-size: 40px;
}
.service-body, .pricing-body{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* display: grid;
    gap: 1 rem;
    grid-template-columns: 1fr 1fr 1fr; */
    gap: 1rem;      
    max-width: 74rem;
}
.service-cont, .pricing-cont {
    text-align: center;
}

.service-cont span, .pricing-cont span {
    display: inline-block;
    color: #c61515;
    font-weight: 700;
    margin-bottom: 12px;
    /* background: url(./snappysoap.png);
    background: url(./sunnyside.png); */
}


.service-box {
   
    box-shadow: 0px 5px 17px #eee;
    height: 30.25rem;
    max-width: 34rem;
    width: 24rem;
    padding: 50px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-box p {
   color: #4b5280;
    font-size: 15px;
}
.service-box h3 {
    margin-bottom: 12px;
}

.service-box h3 a {
    font-size: 23px;
    font-family: 'Nunito';
    font-weight: 700;
    color: #080e32;
}



.service-box h3 a:hover {
    color: #e2656a;
}

.service-main, .pricing-main {
    margin-top: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.learn-more {
    color:#E31C25;
    margin-top: 2rem;
    display: inline-flex;
    position: relative;
}

.learn-more::before {
    content: "\f138";
    font-family: "Font Awesome 5 Free";
    position: absolute; 
    font-size: 30px;
    font-weight: 900;
    right: 0;
    margin-right: 10px;
    display: none;
}

.arr-hov {
    display: none;
}

.learn-more i {
    font-size: 29px;
}

.learn-more:hover{
       background: #c61515;
       color: #FFF;
       padding: 7px 50px 7px 20px;
       transition: padding 0.3s;
}

.learn-more:hover .arr {
   display: none;
   transition: none;
}

.learn-more:hover::before{
    display: inline-flex;
    padding-left: 10px;
}

.icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ffe9e3;
    color: red;
    position: relative;
   z-index: -1;
}


.pricing-col:nth-child(1) .icon i,
.service-box:nth-child(1) .icon i {
    color: #E31C25;
}

.pricing-col:nth-child(2) .icon i,
.service-box:nth-child(2) .icon i {
    color: #290390;
}

.service-box:nth-child(3) .icon i,
.pricing-col:nth-child(3) .icon i {
    color: #1fa299;
}
.service-box:nth-child(4) .icon i {
    color: #9916B1;
}
.service-box:nth-child(5) .icon i {
    color: #cb0680;
}
.service-box:nth-child(6) .icon i {
    color: #2eb01c;
}


.service-box:nth-child(2) .icon,
.pricing-col:nth-child(2) .icon {
    background: #d8d1e8;
}
.service-box:nth-child(3) .icon,
.pricing-col:nth-child(3) .icon {
    background: #d6ebea;
}
.service-box:nth-child(4) .icon {
    background: #f3e3f6;
}
.service-box:nth-child(5) .icon {
    background: #f9e1f0;
}
.service-box:nth-child(6) .icon {
    background: #e6f5e3;
}

.service-box:nth-child(1) .icon .circle-box::after {
    background: #e52f37;
}
.service-box:nth-child(2) .icon .circle-box::after,
.pricing-col:nth-child(2) .icon .circle-box::after{
    background: #3b2fe5;
}
.service-box:nth-child(3) .icon .circle-box::after,
 .pricing-col:nth-child(3) .icon .circle-box::after {
    background: #1fa299;
}
.service-box:nth-child(4) .icon .circle-box::after {
    background: #9916B1;
}
.service-box:nth-child(5) .icon .circle-box::after {
    background: #cb0680;
}
.service-box:nth-child(6) .icon .circle-box::after {
    background: #2eb01c;
}


/* .pricing-col:nth-child(3) .icon i{
    color: #1fa299;
} */



 .circle-box {
     /* background: #ffe9e3; */
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     border-radius: 50%;
     z-index: -1;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 30s;
    animation-timing-function: linear;
 }

 /* .circle-box::before {
     content: '';
     width: 20px;
     height: 20px;
     position: absolute;
     background: #e31c25;
     border-radius: 50%;
     top: 13px;
     left: 0;
     z-index: 1;
 } */

.circle-box::after {
   content: '';
   width: 15px;
   height: 15px;
   position: absolute;
   background: #e31c25;
   border-radius: 50%;
   bottom: 19px;
   right: 0;
   z-index: 5;
}


.icon i {
    font-size: 26px;
}


.review-cont {
    padding: 64px 64px 128px;
}

.review-body  {
    padding: 0 120px;
    justify-content: space-between;
}

.review-slider {
    width: 50%;
}

.review-slider h2 {
   font-size: 41px;
   font-family: 'Nunito';
   line-height: 1;
   margin-bottom: 15px;
}

.testimonial-cont,
.client-info {
    margin-top: 20px;
}

.details {
    margin-left: 17px;
}

.client-info {
    margin-top: 20 px;
    line-height: 1.5;
}

.client-info img {
    border-radius: 50%;
}

.testimonial-cont {
    position: relative;
}

.testimonial-cont p {
    color: #495093;
}

.review-slider span {
    color: #e31d26;
    margin-bottom: 15px;
    display: inline-block;
    
}

/* button  */
.prev-btn {
    left: -53px;
}

.next-btn {
    right: -35px;
}

.btn {
   position: absolute;
   top: 46px;
   width: 30px;
   background: #f1898f;
   border: none;
   color: #fff;
   border-radius: 3px;
}


.img-review {
    /* border: 3px dashed #000; */
    border-radius: 50%;
    padding: 0;
    margin: 0;
    width: 360px;
    height: 360px;
    /* background: yellowgreen; */
    /* background: #da9b05; */
    position: relative;
    z-index: 1;
    text-align: center;
}

.img-review::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* border: 5px dashed #e2656a; */
    border: 5px dashed rgb(237 232 232);
    border-radius: 50%;
    width: 350px;
    height: 350px;
    z-index: -1;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 100s;
    animation-timing-function: linear;
}

.img-review img {
    border-radius: 50%;
}

.img-review img:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: auto;
    transform: translate(-50%, -50%);
}

.img-review img:nth-child(1) {
    position: absolute;
    bottom: -21px;
    left: 49px;
}

.img-review img:nth-child(3) {
    position: absolute;
    left: 0;
}

.img-review img:nth-child(4){
        position: absolute;
        right: -43px;
        top: 50%;
        transform: translateY(-50%);
}

/* portfolio section */
.portfolio {
        padding: 103px;
        transform: skewY(-5deg);
        /* background: linear-gradient(180deg, #FFFFF8 0%, #EAF0FF 100%); */
        background: #EAF0FF;
        margin-top: 4rem;
}

.img-main img {
    width: 32rem;
    z-index: 1;
    position: relative;
}

.portfolio-body {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5rem 0;
}


.portfolio-main {
    justify-content: center;
    transform: skewY(5deg);
}

.portfolio-text {
      width: 444px;
}

.portfolio-text a {
    color: #2B4D75;
    position: relative;
}
.portfolio-text a::before {
    content: '';
    height: 3px;
    position: absolute;
    width: 100%;
    bottom: -9px;
    background: #FFCC6C;
}

.portfolio-img {
    background: white;
    padding: 2rem;
    position: relative;
    overflow: hidden;
    padding: 2rem;
}

.portfolio-img::before {
   content: '';
   position: absolute;
   top: 13%;
   left: 50%;
   height: 100%;
   width: 233%;
   background: #FFCC6C;
   z-index: 0;
   transform: translate(-50%, -50%) rotate(-6deg) skew(-10deg);
   overflow-x: hidden;
   
}

.portfolio-text p {
    margin-bottom: 1rem;
}



.portfolio-title span {
    color: #0083FF;
}

.portfolio-title {
    font-family: 'nunito', Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
    color: #223054;
    margin-bottom: 20px;
}



/* section pricing */
.pricing-box {
    box-shadow: 0px 5px 17px #eee;
    max-width: 34rem;
    width: 24rem;
    padding: 50px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-top {
    margin-bottom: 64px;
}

.icon-box {
    box-shadow: 0px 5px 17px #eee;
    padding: 18px;
}

.pricing-header {
    margin-bottom: 23px;
}

.pricing-header h3 {
    margin-top: 23px;
    font-size: 24px;
    font-family: 'Nunito';
    font-weight: 600;
}

.price {
    flex-direction: column;
    margin-top: 23px;
    font-size: 35px; 
}

.price span {
    font-size: 18px;
}

.pricing-box ul li {
    margin-bottom: 5px;
    color: #4b5280;
}

.pricing-box a {
    padding: 7px 30px;
    background: #e52f37;
    color: #fff;
    border-radius: 5px;
}



/* footer  */
footer {
    background: #09122f;
    color: #fff;
    bottom: 0;
    width: 100vw;
  padding: 4rem 4rem 0;

}



.footer-main {
    display: flex;
    justify-content: space-around;
}

.footer-main p {
    margin-bottom: 30px;
}

.logo-btm {
    height: 45px;
    margin-bottom: 30px;
}

.call-main {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 22px;
    height: 81px;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.fa-phone {
    background: red;
    padding: 20px;
}

.call-text span {
    font-size: 14px;
}

.call-text h5 {
    font-size: 18px;
    font-family: Montserrat;
}

.link-main ul li,
.time ul li {
    margin-bottom: 12px;
    list-style: none;
    align-items: center;
}



.link-main ul li::before,
.time ul li::before {
    content: '';
    width: 0.35em;
    height: 0.3em;
    background: red;
    display: inline-block;
    margin-right: 1em;
}



.link-main ul li a {
    text-decoration: none;
    color: #FFF;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}


.link-main ul li a:hover {
    color: red;
}

.location img {
    width: 18rem;
    margin-bottom: 45px;
}


.location li span {
    margin-left: 15px;
}


i {
    color: #fff;
    /* font-size: 5rem; */
}

.fa-map-marker {
    color: red;
}

.location ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

.ft-bm ul li {
    list-style: none;
    margin-right: 2rem;
}

.ft-bm ul li i {
    font-size: 1.3rem;
}

.time ul li .point {
    margin-left: 6rem;
}

.bg-col{
    padding-left: 4rem;
}


.footer {
        padding: 4rem 3rem 0;
}

@media (max-width:1200px) {
    .nav-main {
        padding: 0 2.1rem;
    }

     .nav-main {
         padding: 0 2.1rem;
     }

     .container img {
         width: 27rem;
         margin-left: 2rem;
     }

     .description {
         width: 30rem;
     }

    .time ul li .point {
        margin-left: 3rem;
    }

    .time ul li {
        font-size: 15px;
    }

    .location img {
        width: 12rem;
    }


    .portfolio-img {
        height: 16.5rem;
        width: 53%;
    }

    .img-main img {
        width: 19rem;
    height: 12.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 88%;
    height: 78%;
    object-fit: cover;
    border-radius: 10px;
    }

    .portfolio-text {
        width: 437px;
    }

    .portfolio {
        padding: 76px;
    }

    .review-body {
        padding: 0;
    }

   
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@media (max-width:1000px) {

    .container img {
        width: 20rem;
    }

     .description {
         width: 23rem;
     }

    .menu {
        display: none;
        position: absolute;
        background: #ebe7e7;
        top: 71px;
        width: 100%;
        left: 0;
        height: initial;

    }

    .show {
        display: block;
    }

    .menu .list {
        flex-direction: column;
    }

    .menu .list li {
        width: 100%;
        /* padding: 0 2rem; */
        justify-content: space-between;
        margin-right: auto;
    }

    .fa-chevron-down {
        color: #000;
        font-size: 14px;
    }

    .menu ul li a {
        font-size: 17px;
        width: 100%;
        justify-content: space-between;
        display: flex;
        padding: 20px 20px 16px;
        align-items: center;
        /* background: red; */
        /* color: #fff; */
    }

    .nav-list:hover a,
    .nav-list:focus a {
        background: red;
        color: #fff;
    }


    .menu ul li {
        margin-right: auto;
    }

    .nav-main {
        justify-content: space-between;
        padding: 0;
        margin: 0 1rem;
    }


    .bar {
        display: inline-block;
    }


    .nav-list {
        /* margin-right: 1.1rem;
        position: relative; */
        flex-flow: inherit;
        margin-right: auto;
    }

    .nav-list a {
        margin-right: 0;
    }

    /* .drop-down {
        position: inherit;
    } */

    .submenu {
        width: inherit;
        top: 61px;
    }


    .sub-li {
        list-style: none;
        padding: 10px 30px;
    }

    .review-slider {
        width: 40%;
    }
}

@media (max-width: 768px) {
     .container {
        flex-direction: column;
     }

      .container img {
          width: 26rem;
          margin-top: 3rem;
      }

       .description{
           width: 80%;
       }
       

      
}


@media (max-width: 500px) {

    .cart,
    .search {
        display: none;
    }

    .logo img {
        height: 2rem;
    }

     .container img {
         width: 20rem;
     }
}

/* responsiveness for section 2 */

@media (max-width: 1310px) {
 .service-box h3 a {
     font-size: 20px;
    }

    .service-box p {
        font-size: 15px;
    }


    .service-box {
        width: 19rem;
    }

    .portfolio {
        padding: 70px;
    }
}

@media (max-width: 1075px) {
.service-box {
    width: 17rem;
}

/* .portfolio-img {
    height: 16.5 rem;
    }

     .img-main img {
         width: 19rem;
         height: 12.5rem;
     }

     .portfolio-text {
         width: 437px;
     } */
}


/* @media (max-width: 975px){

 .service-box {
    width: 24rem;
}
} */

@media (max-width: 975px) {

    .service-box {
        width: 20rem;
    }

}

@media (max-width: 900px) {
     .portfolio-text {
         width: 344px;
        font-size: 0.9rem;
     }

     .portfolio {
         padding: 42px;
     }

     .review-body {
        flex-direction: column;
        padding: 0 100px;
        align-items: center;
     }

     .review-slider {
        width: 100%;
        margin-top: 5rem;

     }

    }

    @media (max-width:800px) {
        .portfolio-body{
            flex-direction: column-reverse;
        }

        .portfolio {
            padding: 100px;
        }

        .portfolio-img {
            height: 21.5rem;
            margin-bottom: 5rem;
            width: 100%;
        }

        .img-main img {
            /* width: 33rem; */
            height: 18.5rem;
    }

    .portfolio-text {
        width: 98%;
        font-size: 1rem;
    }

    .portfolio-text a {
        font-size: 1.2rem;
}

@media (max-width: 785px) {
    .service-box {
        width: 14rem;
    }
}

@media (max-width:700px) {
    .img-review,
    .img-review::before {
        width: 260px;
        height: 260px;
    }

    .img-review img:nth-child(2) {
            height: 10rem;
    }

    .img-review img:nth-child(1),
    .img-review img:nth-child(3),
    .img-review img:nth-child(4) {
            height: 5rem;

    }
}
@media (max-width: 600px) {
    .service-box {
        width: 23rem;
    }

    h2, .portfolio-title {
        font-size: 2rem;
    }

    .portfolio-title {
        font-size: 24px;
    }
}

@media (max-width:500px) {
    .service-box, .pricing-box {
        width: 17rem;

    }

    .review-body {
        padding: 0;
    }

    .review-cont {
        padding: 64px 34px 128px;

    }
}
    }